# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
# The .expo/ is already covered above, but it's a good practice to include these specific folders
android/
ios/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
# Common log and lock files
*.log
*.lock
package-lock.json
yarn.lock

# macOS
.DS_Store
# Additional OS files
.vscode/
.idea/

# local env files
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo

# Build outputs
# These directories contain build artifacts and should not be committed
build/
coverage/